body {
  background: url('../images/volcano-1.jpg') black no-repeat;
  background-size: 100% auto;
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16pt; }

#container {
  width: 40em;
  height: 26em;
  margin: 4em auto 0;
  border: 2px solid rgba(255, 255, 255, 0.25);
  position: relative; }

#loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e04540;
  z-index: 1; }

#datetime {
  background-color: #333;
  color: white;
  font-weight: 600;
  font-size: 0.75em;
  letter-spacing: 0.025em;
  padding: 0.3em 0.4em;
  display: inline-block;
  text-transform: uppercase;
  position: absolute;
  left: 1em;
  top: 1em; }

#title {
  display: inline-block;
  border: 0px solid white;
  position: absolute;
  left: 20em;
  top: 10em; }
  #title #nametag {
    background-color: #e04540;
    color: white;
    font-weight: 700;
    font-size: 0.75em;
    padding: 0.3em 0.4em;
    margin: 0;
    display: inline-block; }
  #title h1 {
    color: white;
    font-weight: 700;
    font-size: 2em;
    margin: 0.2em 0;
    text-shadow: 0 0.03em 0 rgba(0, 0, 0, 0.25); }
  #title hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid white;
    margin: 0.5em 0;
    padding: 0;
    width: 1.5em; }
  #title h2 {
    color: white;
    font-weight: 500;
    font-size: 1em;
    margin: 0em 0;
    text-shadow: 0 0.03em 0 rgba(0, 0, 0, 0.25); }
  #title h3 {
    color: white;
    font-weight: 400;
    font-size: 0.75em;
    margin: 0em 0;
    text-shadow: 0 0.03em 0 rgba(0, 0, 0, 0.25); }

#place {
  margin: 0;
  padding: 0;
  width: 0.1em;
  height: 0.1em;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  left: 30em;
  top: 15em; }
  #place h1 {
    margin: 0;
    padding: 0.5em 0.6em;
    color: white;
    border: 2px solid white;
    font-size: 0.75em;
    font-weight: 500;
    display: inline-block;
    transform-origin: 0% 100%;
    white-space: nowrap;
    position: absolute;
    left: 0;
    bottom: 0; }
  #place .line {
    width: 0;
    height: 2em;
    border-left: 1px solid white;
    transform-origin: 0% 100%;
    transform: rotate(45deg);
    position: absolute;
    left: 0;
    bottom: 0; }
  #place .dot {
    width: 0.75em;
    height: 0.75em;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: -0.375em;
    bottom: -0.375em; }

#breaking {
  position: absolute;
  top: 10em;
  left: 5em; }
  #breaking h1 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.025em;
    font-weight: 500;
    font-size: 0.75em; }
  #breaking h2 {
    width: 10em;
    margin: 0;
    padding: 0.75em;
    background-color: rgba(255, 255, 255, 0.75);
    color: black;
    font-weight: 400;
    font-size: 1em; }

#menu {
  width: 30em;
  position: absolute;
  left: 110%;
  top: 10em;
  font-size: 0.65em; }
  #menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 1.25em; }
  #menu li {
    width: 10em;
    float: left;
    padding: 0 2em 1em 0; }
  #menu .thumb {
    width: 100%;
    height: 6em;
    margin-bottom: 0.5em;
    background-color: rgba(255, 255, 255, 0.75); }
  #menu a {
    text-decoration: none;
    color: white; }
  #menu span {
    color: rgba(255, 255, 255, 0.5); }

#chyron {
  background-color: rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  margin: 1em;
  padding: 0.5em;
  font-size: 0.75em;
  color: black;
  position: absolute;
  bottom: 0em;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  width: 100%;
  font-weight: 400; }
  #chyron b {
    font-weight: 600;
    text-transform: uppercase;
    padding-right: 1.5em; }
  #chyron span {
    padding-right: 1.5em; }

/*
// -------------------------------------
//   Fonts
// -------------------------------------
*/
@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/woff/FiraSans-Bold.woff') format('woff'), url('../fonts/ttf/FiraSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/woff/FiraSans-SemiBold.woff') format('woff'), url('../fonts/ttf/FiraSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/woff/FiraSans-Regular.woff') format('woff'), url('../fonts/ttf/FiraSans-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/woff/FiraSans-Light.woff') format('woff'), url('../fonts/ttf/FiraSans-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/woff/FiraSans-UltraLight.woff') format('woff'), url('../fonts/ttf/FiraSans-UltraLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/woff/FiraSans-Hair.woff') format('woff'), url('../fonts/ttf/FiraSans-Hair.ttf') format('truetype');
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/woff/FiraSans-Eight.woff') format('woff'), url('../fonts/ttf/FiraSans-Eight.ttf') format('truetype');
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/woff/FiraSans-UltraLightItalic.woff') format('woff'), url('../fonts/ttf/FiraSans-UltraLightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic; }
