doctype html
html
	head
		meta(charset="utf-8")
		meta(name="description", content="")
		meta(name="viewport", content="width=device-width, initial scale=1")
		link(rel='stylesheet', href='css/app.css')
		title MM

	body
		#container
			//#loading
			#datetime Aug 22, 4:50
			#title
				#nametag Iceland
				h1  
				hr
				h2 Stéfan Björnsson
				h3 Icelandic News Agency
			#place
				h1 High Plains
				.line
				.dot
			#breaking
				h1 Breaking News
				h2 Rebel fighters seize mountain fortress
			#menu
				ul
					li
						.thumb						
						a(href="") Forest fires intensify 
						span Colorado
					li
						.thumb						
						a(href="") Beluga born in Vancouver 
						span Vancouver
					li
						.thumb						
						a(href="") Russian convoy crosses border 
						span Ukraine
					li
						.thumb						
						a(href="") Indian Mars mission a success 
						span Mumbai
					li
						.thumb						
						a(href="") Indian Mars mission a success 
						span Mumbai

			#chyron
				b News
				span Northern California braces for aftershocks
				span Russia seizes Japan research whaling ship
				span Iceland volcano raises aviation alert

		script(type="text/javascript", src="js/jquery.min.js")
		script(type="text/javascript", src="js/jquery.velocity.min.js")
		script(type="text/javascript", src="js/velocity.ui.min.js")
		script(type="text/javascript", src="js/app.js")